.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top {
  position: relative;
}

.top::before {
  content: "";
  background-image: url("./bku2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}
/* Đảm bảo chiều cao toàn trang */
html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Arial", sans-serif; /* Cải thiện font chữ cho toàn bộ ứng dụng */
}

/* Wrapper chính */
.layout-wrapper {
  display: flex;
  height: 100vh;
  background-color: #f7f9fc;
}
.layout-wrapper .spsoMainSideBar {
  display: flex;
}
/* Content */
.layout-wrapper .spsoMainContent {
  display: flex;
  width: 75%;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.user {
  display: flex;
  height: 100vh;
}
.userContent {
  width: 78%;
  background-color: #f0f8ff;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 30px;
}
