.adminSideBar {
  background-color: #1e90ff;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 0px;
  min-width: 250px;
}
.adminSideBarTitle {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
.adminSideBarTag {
  background-color: white;
  border-radius: 10px;
  margin: 0px 40px;
  padding: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.adminSideBarTag .user_name {
  font-size: 32px;
  max-width: 100%;
}
.adminSideBarTag .user_id {
  font-size: 32px;
  max-width: 100%;
}
.adminSideBarMenu {
  all: unset;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 0px 40px;
  font-size: 28px;
}
.adminSideBarMenu a {
  all: unset;
  transition: all 0.1s ease;
  width: fit-content;
}
.adminSideBarMenu a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
